<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackaton.composetest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeTest"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CustomLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_layout"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="true"
            android:label="@string/title_activity_constraint_layout"
            android:theme="@style/Theme.ComposeTest.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScaffoldActivity"
            android:exported="false"
            android:label="@string/title_activity_scaffold"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".BoxActivity"
            android:exported="false"
            android:label="@string/title_activity_box"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".LayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_layout"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list2"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeTest.NoActionBar" />
    </application>

</manifest>